marcas/XML/xsd3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="listapedidos">
        <xs:complexType>
            <xs:choice>

                <xs:element name="pedido">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ndeserie" type="xs:integer"/>
                            <xs:element name="cantidad" type="xs:integer"/>
                            <xs:element name="peso" type="xs:decimal" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>
    