marcas/XML/xsd5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="billete">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pasajero" type="xs:string"/>
                <xs:element name="origen" type="xs:string"/>
                <xs:element name="destino" type="xs:string"/>
                <xs:element name="fecha" type="xs:date"/>
                <xs:element name="hora" type="xs:time"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>