marcas/XML/xsd6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="pedido">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="cliente" type="xs:string"/>
                <xs:element name="direccion" type="xs:string"/>

                <xs:element name="items">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="precio" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>