marcas/XML/xsd8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="especie">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="familia" type="xs:string"/>
                
                <xs:element name="distribución">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="zona"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="nombre_cientifico" type="xs:string" use="optional"/>
            <xs:attribute name="estado" default="sin-peligro">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="sin-peligro"/>
                        <xs:enumeration value="amenazado"/>
                        <xs:enumeration value="extinto"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

        </xs:complexType>
    </xs:element>

</xs:schema>