marcas/XML/xsd9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="pelicula">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="director" type="xs:string"/>
                <xs:element name="sinopsis" type="xs:string"/>
                <xs:element name="actores" type="xs:string" minOccurs="0"/>
                <xs:element name="año" type="xs:date" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>